<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>This is the Artist index page</h1>
    <h2>Displays all the artists</h2>

    <ul>
    <%@artists.each do |artist|%>
      <li><%=artist.name%></li>
    <%end%>
    </ul>
    
  </body>
</html>
